<!DOCTYPE html>
<html lang='ja'>
  <head>
    <meta charset='UTF-8'/>
    <meta name='viewport' content='width=device-width'/>
    <title>{{ .Title }} | Water Dropwort's Web Tools</title>
    <link rel='stylesheet' href='{{ relURL "style.css" }}'/>
  </head>
  <body class='page'>
    <div class='page-layout'>
      <header class='page-header page-layout__header'>
        <a class='page-header__title' href='{{ relURL "" }}'>
          Water Dropwort's Web Tools
        </a>
      </header>

      <nav class='page-nav page-layout__nav'>
        {{ $current_page := .Permalink }}
        {{ range .Site.RegularPages }}
        <ul class='page-nav__list'>
          {{ if eq $current_page .Permalink }}
          <li class='page-nav__item page-nav__item_current'>
            <a href='{{ .RelPermalink }}'
               class='page-nav__link page-nav__link_current'>
              {{ .LinkTitle }}
            </a>
          </li>
          {{ else }}
          <li class='page-nav__item'>
            <a href='{{ .RelPermalink }}'
               class='page-nav__link'>
              {{ .LinkTitle }}
            </a>
          </li>
          {{ end }}
        </ul>
        {{ end }}
      </nav>

      <main class='page-main page-layout__main'>
        {{ block "main" . }}
        {{ end }}
      </main>
    </div>
  </body>
</html>
