<!DOCTYPE html>
<html lang='ja'>
  <head>
    <meta charset='UTF-8'/>
    <meta name='viewport' content='width=device-width'/>
    <title>{{ .Title }} | Water Dropwort's Web Tools</title>
    <link rel='icon' href='{{ relURL "favicon.png" }}'/>
    <link rel='stylesheet' href='{{ relURL "style.css" }}'/>
    {{ if .IsHome }}
    <link rel='stylesheet' href='{{ relURL "home.css" }}'/>
    {{ else }}
    <link rel='stylesheet' href='{{ relURL "app.css" }}'/>
    {{ end }}
  </head>
  <body class='page page--dark'>
    <header class='page-header'>
      <a class='page-header__title' href='{{ relURL "" }}'>
        Water Dropwort's Web Tools
      </a>
    </header>

    {{ if .IsHome }}
      {{ block "home" . }}
      {{ end }}
    {{ else }}
      {{ block "app" . }}
      {{ end }}
    {{ end }}
  </body>
</html>
