<!DOCTYPE html>
<html lang='ja'>
  <head>
    <meta charset='UTF-8'/>
    <meta name='viewport' content='width=device-width'/>
    <title>{{ .Title }} | Water Dropwort's Web Tools</title>
    <link rel='stylesheet' href='/style.css'/>
  </head>
  <body class='page'>
    <header class='page-header'>
      <a class='page-header__title' href='/'>
        Water Dropwort's Web Tools
      </a>
    </header>

    <nav class='page-nav'>
      {{ $current_page := .Permalink }}
      {{ range .Site.RegularPages }}
      <ul class='page-nav__list'>
        {{ if eq $current_page .Permalink }}
        <li class='page-nav__item page-nav__item_current'>
          <a href='{{ .RelPermalink }}'
             class='page-nav__link page-nav__link_current'>
            {{ .LinkTitle }}
          </a>
        </li>
        {{ else }}
        <li class='page-nav__item'>
          <a href='{{ .RelPermalink }}'
             class='page-nav__link'>
            {{ .LinkTitle }}
          </a>
        </li>
        {{ end }}
      </ul>
      {{ end }}
    </nav>

    <main class='page-main'>
      {{ block "main" . }}
      {{ end }}
    </main>
  </body>
</html>
