{{ define "app" }}
<div class='app'>
  <nav class='app__nav'>
    {{ $current_page := .RelPermalink }}
    <ul class='list'>
      {{ range .Site.RegularPages }}
      {{ if eq $current_page .RelPermalink }}
      <li class='list__item list__item--highlight'>
        <a href='{{ .RelPermalink }}'
           class='link link--on-highlight'>
          {{ .LinkTitle }}
        </a>
      </li>
      {{ else }}
      <li class='list__item'>
        <a href='{{ .RelPermalink }}'
           class='link link--on-dark'>
          {{ .LinkTitle }}
        </a>
      </li>
      {{ end }}
      {{ end }}
    </ul>
  </nav>

  <main class='app__main'>
    {{ .Content }}
  </main>
</div>
{{ end }}
