:root {
    --color-text-main: whitesmoke;
    --color-background-main: rgb(30, 30, 30);
}

/* Page */
.page {
    margin: 0;
}

.page--dark {
    background-color: var(--color-background-main);
    color: var(--color-text-main);
}

/* Page-Header */
.page-header {
    background: yellow;
    color: black;
    align-content: center;
    padding: 0.5em;
}

.page-header__title {
    color: black;
    font-size: 1.5em;
}

/* Link */
.link {}

.link--on-dark {
    color: var(--color-text-main);
}

.link--on-highlight {
    color: black;
}

/* List */
.list {
    padding-left: 1.5em;
    list-style: disc;
}

.list__item {
    padding: 0.25em;
}

.list > .list__item + .list__item {
    margin-top: 0.5em;
}

.list__item--highlight {
    background-color: yellow;
}

/* Button */
.button {
    font-size: 1em;
    padding: 0.25em;
}
